.main{
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}


.text-xl{
    margin: 0px auto;
    text-align: center;
}
.date{
    margin: 0px auto;
    text-align: center;
}

.attendance-table {
    margin: 0px auto;
    width: 70%;
    text-align: center;
    justify-content: center;
}

.attendance-table__inner {
    width: 100%;
    justify-content: center;
}

.attendance-table__row {
    border-bottom: 1px solid #ddd;
}

.attendance-table__header {
    padding: 12px;
    width: 20%;
    font-weight: bold;
}

.attendance-table__item {
    padding: 12px;
    width: 20%;
}

.footer__ttl {
    margin-top: 150px;
    text-align: center;
}